<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="Filepurchases">textfiles/purchases</entry>
    <entry key="XMLCustomer">xmlFiles/customer.xml</entry>
    <entry key="FileItem">textfiles/items</entry>
    <entry key="mysqlProperties">propertiesFiles/Store-properties.xml</entry>
</properties>